{% extends "base.html" %}

{% block content %}


<br>
{% if u_prof.is_student == True %}

<Center><h1 style="font-family:bold;">Student Dashboard</h1></Center>

{% elif u_prof.is_teacher == True %}

<Center><h1 style="font-family:bold;">Teacher Dashboard</h1></Center>

{% endif %}

<br>
<Center><h1 style="font-family:bold;">Welcome To The File Sharing Service</h1></Center>

<br><br><br>


{% if u_prof.is_teacher == True %}

<center><a class="btn btn-success" href="createPost">Create Assignments</a></center>

{% elif u_prof.is_student == True %}

<center><a class="btn btn-info" style="color:white" href="AllPost">Show Assignments</a></center>

{% endif %}

{% endblock %}
