{% extends "base.html" %}

{% block content %}

<style>

    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
        text-align: left;
    }

</style>


<br><br><br>

<Center><h1 style="margin-left:-25px;font-family:bold;">ALL ASSIGNMENTS</h1></Center>

<div class="row" style="margin-top: 60px;">

    {% for p in all_p %}

    <center>

    <div class="col-md-8 card" style="border-style:ridge;font-family:bold; height:300px">

        <br>

        <h2 style="margin-left:20px">{{p.Title}}</h2><br>

       <h4 style="color:brown;margin-left:20px"><b>Description:</b></h4>
       <h5 style="margin-left:20px">{{p.Description}}</h5><br>

        <h3 style="margin-left:20px"> <a class="btn btn-success" style="color: white;" href="{{p.Files}}" download="Assignment">Download File</a>

            {% if u_prof.is_teacher == True %}

            <a class="btn btn-danger" style="margin-left:570px;width:160px;color:white" href="{% url 'DelPost' p.id %}">Delete Assignment</a>
                        
            {% endif %}
            
        </h3><br>

        <h6 style="margin-left:800px;margin-top:-10px">By Sir {{p.MyUser.users.username|capfirst}}</h6> <br>

    </div>

    </center>

</div> <br>

{% endfor %}


{% endblock %}
